h3 { width: 260px; margin: 0 auto; margin-bottom:30px; font-size:40px;}
span { margin-right: 50px; margin-top:50px;}
.form-search { width: 350px; margin: 0 auto; height: 200px; border:2px solid #c4c1c1;}
.info {margin-top:50px; padding-left:20px;}
#inputnum { margin-left:6px;}
.num { margin-left:10px;}
.btn { height: 35px;}
.btnSearch { width:300px; margin: 0 auto; text-align:center; margin-top:30px;}
.search { width:100px; height:30px; margin-right:20px;}