@charset "UTF-8";
/* 구글 폰트 */
/*Do Hyeon*/@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 전체적인 설정 */
body{margin: 50px 100px}
a{text-decoration: none;}
hr{margin: 15px 20px 15px 5px;}

/* footer */
footer{float: left; margin-top: 250px; background-color: gray;  width: 1650px; height: 100px;}
footer > p{text-align: center; color: white; font-family: "Do Hyeon";}
