/* section */
section { width:1650px; height:570px; margin-bottom: 90px;}

/* section 내용물 */
section > h1 { padding-top:220px;}
hr { width:1650px;}
.loginFrm { width: 600px; height: 520px; border: 2px solid #c4c1c1;  margin: 0 auto; margin-top:50px;}
.title { width: 155px; margin:0 auto; margin-bottom:30px; margin-top:30px;}
.align { width:400px; margin:0 auto;}
::placeholder { font-size: 15px; padding-left: 10px;}
.find { width: 300px; margin: 0 auto;}
input { width: 400px; height: 40px; border-radius:10px;}
#btn { background-color:black; color:white;}
span > a { color:black;}
#kakao { width:250px; height:50px; margin-left:170px;}


/* 중간 밑줄 부분 */
.hr-sect { display: flex; flex-basis: 100%; align-items: center; color: rgba(0, 0, 0, 0.35); font-size: 30px; margin: 20px 0px;}
.hr-sect::before,
.hr-sect::after {content: ""; flex-grow:5; background: rgba(0, 0, 0, 0.856); height: 1px; font-size: 0px; margin: 0px 16px;}


/* footer */
footer{float: left; margin-top: 250px; background-color: rgb(0, 164, 0);  width: 1650px; height: 100px;}
footer > p{text-align: center; color: white; font-family: "Do Hyeon";}
