@charset "UTF-8";
/* 구글 폰트 */
/*Do Hyeon*/@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

	a{text-decoration:none;color:black;}
	a:hover{text-decoration:yes;color:#66CCFF;}
	a:visited {text-decoration:none;}
	.table{width:1650px; height:auto; margin-top:300px;}
	.headname{font-size:40px; font-family:Do Hyeon;}
	tfoot>tr>td{font-size: larger; font-weight: bold;} 